@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html>
<head>
  <title>Walker - the first million steps are always the hardest</title>
</head>
<body>
  @RenderBody()
</body>
</html>
